[user]
    email = george.mironov@synesis.ru
    name = Georgy Mironov
[alias]
    l = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
    s = status -s
    go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
    amend = commit --amend --reuse-message=HEAD
    hreset = reset --hard
[branch]
    autosetuprebase = always
[core]
    excludesfile = ~/.gitignore
    pager = less -x1,5
	autocrlf = input
[diff]
    compactionHeuristic = true
    indentHeuristic = on
[help]
    autocorrect = 1
[merge]
    tool = vscode
[mergetool]
    keepBackup = false
[mergetool "vscode"]
    cmd = "code --wait $MERGED"
[pull]
    rebase = true
[push]
    default = current
[rebase]
    autoStash = true
[rerere]
    enabled = true
[filter "trimWhitespace"]
    clean = -
    clean = git
[credential]
    helper = cache
