URxvt*background: #1d2021
URxvt*foreground: #d0d0d0

URxvt*iconFile: /usr/local/share/icons/Faenza/apps/scalable/xterm.svg
URxvt*font: xft:Fira Mono:size=13:medium:antialias=true:hinting=true
URxvt*scrollBar: false
URxvt*perl-ext-common: default,font-size,clipboard,url-select
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.clipboard.autocopy: true

URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.keysym.C-C:   perl:clipboard:copy
URxvt.keysym.C-V:   perl:clipboard:paste

URxvt.keysym.M-u: perl:url-select:select_next

*color1:  #cc241d
*color2:  #98971a
*color3:  #d79921
*color4:  #458588
*color5:  #b16286
*color6:  #689d6a
*color7:  #a89984
*color8:  #928374
*color9:  #fb4934
*color10: #b8bb26
*color11: #fabd2f
*color12: #83a598
*color13: #d3869b
*color14: #8ec07c
*color15: #ebdbb2
