! special
*.foreground:   #c5c8c6
*.background:   [95]#1d1f21
*.cursorColor:  #c5c8c6

! black
*.color0:       #282a2e
*.color8:       #373b41

! red
*.color1:       #a54242
*.color9:       #cc6666

! green
*.color2:       #8c9440
*.color10:      #b5bd68

! yellow
*.color3:       #de935f
*.color11:      #f0c674

! blue
*.color4:       #5f819d
*.color12:      #81a2be

! magenta
*.color5:       #85678f
*.color13:      #b294bb

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #707880
*.color15:      #c5c8c6

*.color24:  #076678
*.color66:  #427b58
*.color88:  #9d0006
*.color96:  #8f3f71
*.color100: #79740e
*.color108: #8ec07c
*.color109: #83a598
*.color130: #af3a03
*.color136: #b57614
*.color142: #b8bb26
*.color167: #fb4934
*.color175: #d3869b
*.color208: #fe8019
*.color214: #fabd2f
*.color223: #ebdbb2
*.color228: #f4e8ba
*.color229: #fdf4c1
*.color230: #ffffc8
*.color234: #1d2021
*.color235: #2d2d2d
*.color236: #32302f
*.color237: #3c3836
*.color239: #504945
*.color241: #665c54
*.color243: #7c6f64
*.color244: #928374
*.color245: #928374
*.color246: #a89984
*.color248: #bdae93
*.color250: #d5c4a1
 
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb

URxvt.geometry: 142x36
URxvt.scrollTtyKeypress: true
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.skipScroll: true
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.font: xft:Fira Mono Medium:size=15
URxvt.perl-ext-common: default,font-size,clipboard,url-select
URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.clipboard.autocopy: true

URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.C-C:   perl:clipboard:copy
URxvt.keysym.C-V:   perl:clipboard:paste

URxvt.keysym.M-u: perl:url-select:select_next
