[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/george/projects]
row=7
col=0

[/home/george/README.md]
row=6
col=1

[/home/george/documents]
row=0
col=1

[/home/george/dotfiles]
row=5
col=1

[/home/george/Dropbox]
row=4
col=1

[/home/george/My Games]
row=3
col=1

[/home/george/PlayOnLinux's virtual drives]
row=2
col=1

[/home/george/downloads]
row=1
col=1

[/home/george/Steam]
row=6
col=0

[DCB0240BB023EAAA]
row=1
col=0

[9EDC6DECDC6DBF61]
row=0
col=0

[BCD01EFED01EBF18]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/george]
row=5
col=0

