[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/george/projects]
row=3
col=1

[/home/george/documents]
row=6
col=0

[/home/george/Dropbox]
row=0
col=1

[/home/george/My Games]
row=1
col=1

[/home/george/PlayOnLinux's virtual drives]
row=2
col=1

[/home/george/Downloads]
row=0
col=0

[/home/george/downloads]
row=7
col=0

[/home/george/Steam]
row=4
col=1

